#footerMain{
  background-color: #60b965;
  .main-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    @include breakpoint(xxs){
      flex-direction: column;
    }
    .logo{
      img{
        width: 100px;
      }
    }
    .social{
      @include breakpoint(xxs){
        margin-top: 15px;
      }
      ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
          display: inline-block;
          color: white;
          &:first-child{
            position: relative;
            top: -2px;
            @include breakpoint(xxs){
              display: none;
            }
          }
          a{
            display: inline-block;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 22px;
            &:hover{
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .copyright{
    padding: 15px 0;
    border-top: 1px solid #a4d269;
    p{
      font-weight: 300;
      font-size: 14px;
      color: #a4d269;
      margin: 0;
      text-align: center;
      span{
        img{
          width: 50px;
          position: relative;
          top: 1px;
          left: 3px;
        }
        @include breakpoint(xs){
          display: block;
          margin-top: 10px;
        }
      }
    }
  }
}
