.navbar{
  background-color: transparent;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  top: 0;
  border-radius: 0;
  z-index: 9;
  @include respond-to(992){
    height: 100px;
  }
  @include transition();
  .navbar-header{
    height: 100px;
    position: relative;
    // @include transition();
    @include breakpoint(sm){
        height: 60px;
    }
    .navbar-toggle{
      position: absolute;
      top: 50%;
      right: 0;
      margin: 0 15px;
      @include centerY();
      .icon-bar{
        background: #606060;
      }
    }
    .navbar-brand{
      height: inherit;
      position: relative;
      img{
        // width: 150px;
        width: auto;
        height: 70px;
        position: absolute;
        top: 50%;
        @include centerY();
        @include transition();
        @include breakpoint(sm){
          width: 130px;
        }
      }
    }
  }
  .navbar-collapse{
    ul{
      li{
        @include respond-to(992){
          display: table;
        }
        a{
          color: #fff;
          font-size: 16px;
          font-weight: 500;
          height: 100px;
          display: table-cell;
          vertical-align: middle;
          position: relative;
          @include transition();
          &:hover,
          &:focus{
            background-color: transparent!important;
          }
          @include breakpoint(sm){
            height: 40px;
          }
          &:before{
            content: "";
            position: absolute;
            background-color: $brand-color;
            @include transition();
            @include respond-to(992){
              left: 50%;
              top: -1px;
              @include centerX();
              width: 0;
              height: 4px;
            }
            @include breakpoint(sm){
              left: 0;
              top: 50%;
              @include centerY();
              width: 3px;
              height: 0%;
            }
          }
          &:hover{
            background-color: transparent!important;
            color: white;
            &:before{
              @include respond-to(992){
                width: 70%;
              }
              @include breakpoint(sm){
                height: 100%;
              }
              @include transition();
            }
          }
          &:focus{
            background-color: transparent!important;
          }
        }
      }
      .dropdown{
        .dropdown-menu{
          border-top: 1px solid #ebebeb;
          border-bottom: 1px solid #ebebeb;
          li{
            @include breakpoint(sm){
              padding-left: 30px;
            }
          }
        }
      }
      .active{
        &:before{
          content: "";
          position: absolute;
          background-color: $brand-color;
          @include transition();
          @include respond-to(992){
            left: 50%;
            top: -1px;
            @include centerX();
            width: 70%;
            height: 4px;
          }
          @include breakpoint(sm){
            left: 0;
            top: 50%;
            @include centerY();
            width: 3px;
            height: 100%;
          }
        }
      }
    }
    @include breakpoint(sm){
      border-top: 1px solid #ebebeb;
    }
  }
  .collapse.in{
    @include breakpoint(sm){
      padding-bottom: 10px;
    }
  }
}

.navbar-mobile{
  background-color: white;
  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  z-index: 9;
  @include respond-to(992){
    height: 60px!important;
  }
  @include transition();
  .navbar-header{
    height: 60px!important;
    .navbar-brand{
      img{
        // width: 130px;
        width: auto;
        height: 40px;
        @include transition();
      }
    }
  }
  .navbar-collapse{
    ul{
      li{
        a{
          height: 60px!important;
          color: #1a1a1a;
          @include transition();
          @include breakpoint(sm){
            height: 40px!important;
          }
          &:before{
            @include transition();
            @include breakpoint(sm){
              width: 3px;
            }
          }
          &:hover{
            color: #1a1a1a;
          }
        }
      }
      .active{
        color: #448d9f;
        &:before{
          @include breakpoint(sm){
            width: 3px;
          }
        }
      }
    }
  }
}


@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
