.response-page{
    height: calc(100vh - 145px);
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00C2DC;
    @include breakpoint(sm){
        
    }
    .form-response{
        background-color: rgba(255,255,255,0.8);
        padding: 40px;
        .content{
            text-align: center;
            h2{
                color: $brand-color;
                font-size: 25px;
                text-transform: uppercase;
                span{
                    font-size: 22px;
                    text-transform: none;
                }
            }
            ul{
                list-style: none;
                margin: 30px 0 0 0;
                padding: 0;
                display: block;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                li{
                    margin: 0 10px;
                    a{
                        color: $brand-color;
                        font-size: 23px;
                    }
                }
            }
        }
    }
}