.hamburger-animation{
  position: relative;
  .icon-bar{
    position: absolute;
    top: 50%;
    right: 10px;
    @include centerY();
    @include transition();
  }
  .icon-bar:nth-of-type(1){
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    @include transition();
    margin: 0;
  }
  .icon-bar:nth-of-type(2){
    opacity: 0;
  }
  .icon-bar:nth-of-type(3){
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    @include transition();
    margin: 0;
  }
}
